/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: transparent;
    outline: none;
    transition: 0.4s;
    margin-top: 2rem;
    /* margin-bottom:  */

  }

  .collapsed {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    display: none;
    overflow: hidden;
  }

  
.section-container {
  border-radius: 12px;
}


  .new-entry-btn, .entry-btn {
    background-color: #eee;
    color: black;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    border: transparent;
    margin: .2rem 0;
    /* outline: #444; */
    transition: 0.4s;
    border-radius: 0;
  }

  .new-entry-btn {
    margin-top: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

.form-btn-container {
  display: flex;
  flex-direction: row;
}

.form-btn {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  padding: 18px;
  border: solid;
  outline: #444;
  transition: 0.4s;
}

.personal-form {
  border-radius: 12px;
}
.personal-form h2{
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.section-form div {
  display: flex;
  flex-direction: column;
}


.section-form div:last-child {
  flex-direction: row;
}

form {
padding: 1rem;
border-radius: 12px;
border-top-left-radius: 0;
border-top-right-radius: 0;
background-color: white
}

input {
  border: 2px solid transparent;
  border-radius: 12px;
  transition: border .25s, box-shadow .25s;
  width: 36ch;
  margin: auto;
  height: 1.8rem;
  margin-bottom: 1rem;
  background-color: #f3f4f6;
  color: black;
}

label {
  margin-bottom: 1rem;
}