
#root {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  color:black
}

main {
  min-width: 250px;
  width: 400px;
  max-width: 400px;
  flex: 2;
}

aside {
  width: 100%;
  min-width: 800px;
  max-width: 800px;
  flex: 1;
}

.resume-container {
  justify-content: center;
  display: flex;
  width: 800px;
  height: 900px;
  background-color: #fff;

}

.resume-personal {
  padding: 2rem;
  width: 300px;
  min-width: 284;
  background-color: #0e374e;
}

.resume-personal h3 {
  color: #fff;
  font-size: 2rem;
}

.resume-personal p {
  color: #fff
}

.resume-details {
  width: 500px;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff
}

.details-title {
  color: #0e374e;
  font-size: 1.3rem;
  background-color: #eee;
  text-align: center;
}


.resume-card {
  overflow: hidden;

}



@media (max-width: 1130px) {
  #root {
    display: flex;
    flex-direction: column-reverse;
  }
  main {
    display: flex;
    max-width: 800px;
    gap: 2rem;
    height: 800px;
  }

  main div {
    width: 382px;
    max-width: 100%;
  }

main button:nth-child(1) {
  margin-top: 0px;
}

.accordion {
  width: 382px;
}


}